
#stacks_in_129_page12 .stacks_left {
    float: left;
    width: 49%;
    border-radius: 50px;
    border: 3px solid #E8E8E8;
    background: #fff;
}

#stacks_in_129_page12 .stacks_right {
    float: right;
    width: 49%;
    border-radius: 50px;
    border: 3px solid #E8E8E8;
    background: #fff;
}

#stacks_in_129_page12 {
    margin: 0px 0px 20px 0px;
}

#stacks_in_33_page12 {
    margin: 10px;
}

#stacks_in_39_page12 {
    margin: 10px;
}

#stacks_in_1387_page12 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1387_page12 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1380_page12 {
    margin: 10px 20px 0px 20px;
}

#stacks_in_1445_page12 {
    margin: 0px 50px 10px 10px;
}

#stacks_in_1385_page12 {
    margin: 10px 20px 0px 20px;
}

#stacks_in_1450_page12 {
    margin: 0px 50px 10px 10px;
}

#stacks_in_132_page12 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_132_page12 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_132_page12 {
    margin: 60px 0px 0px 0px;
}

#stacks_in_50_page12 {
    margin: 10px;
}

#stacks_in_56_page12 {
    margin: 10px;
}

#stacks_in_1401_page12 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1401_page12 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1403_page12 {
    margin: 10px 20px 0px 20px;
}

#stacks_in_1435_page12 {
    margin: 0px 50px 10px 10px;
}

#stacks_in_1406_page12 {
    margin: 10px 20px 0px 20px;
}

#stacks_in_1440_page12 {
    margin: 0px 50px 10px 10px;
}

#stacks_in_1009_page12 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1009_page12 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1009_page12 {
    margin: 60px 0px 0px 0px;
}

#stacks_in_1013_page12 {
    margin: 10px;
}

#stacks_in_1419_page12 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1419_page12 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1421_page12 {
    margin: 1px 20px 0px 20px;
}

#stacks_in_1455_page12 {
    margin: 0px 50px 10px 10px;
}

#stacks_in_1424_page12 {
    margin: 10px;
}
.demo-phone {
    width: 509px;
    height: 880px;
    padding: 130px 67px 129px;
    float: right;
    margin: 0 20% 0 0;
    background: url('white-iphon.jpg') center top no-repeat;
}
