<div class="login-modal">
  <ion-modal-view>

    <ion-header-bar class="nav-title-slide-ios bar-positive">
      <div class="buttons close-button">
            <button class="button button-icon icon ion-close" ng-click="closeLogin()"></button>
      </div>

      <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>

    <!--<div class="iframe-wrapper" style="-webkit-overflow-scrolling: touch; overflow-y: scroll; height:510px;">
	<iframe ng-bind-html="src" src="http://www.adoptapet.ie/app-contact-pet/?author_id={{post.contactinfo.authorid}}&post_title={{post.contactinfo.posttitle}}" frameborder="0" allowfullscreen style="height:510px; width:100%;"></iframe>
</div>-->


    </ion-content>

  </ion-modal-view>
  <!--<iframe id="login-iframe" style="width: 0; height: 0;" src="{{src}}"></iframe>-->
</div>