<div class="modal transparent" ng-controller="AddMoreCtrl" ng-click="closeModal()">
    <div class="wrapper bot">
        <div class="kotak no-border autoheight">
                <div class="rumah-radio no-border more-section ">
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items diaper" ng-click="openModal('change')">
                            <i class="icon-diaper"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.change</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items bottle" ng-click="openModal('diaper')">
                            <i class="icon-bottle"></i>
                        </button>
                        <span class="small" data-translate>cleverbaby.app.activity.addMore.bottle</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items nurse" ng-click="openModal('nurse')">
                            <i class="icon-breast-feeding"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.nurse</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items solid" ng-click="openModal('solid')">
                            <i class="icon-banana-3"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.solid</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items pump" ng-click="openModal('pump')">
                            <i class="icon-breast-pumper-line"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.pump</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items todo" ng-click="openModal('todo')">
                            <i class="icon-diary"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.todo</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items moment" ng-click="openModal('moment')">
                            <i class="icon-rattle-alias-1"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.activity</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items mood" ng-click="openModal('mood')">
                            <i class="icon-mood-ok"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.mood</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items play" ng-click="openModal('play')">
                            <i class="icon-rattle-alias-3"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.play</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items bath" ng-click="openModal('bath')">
                            <i class="icon-bath"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.bath</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items medication" ng-click="openModal('medication')">
                            <i class="icon-medication"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.medication</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items temperature" ng-click="openModal('temperature')">
                            <i class="icon-temperature"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.temp</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items diary" ng-click="openModal('diary')">
                            <i class="icon-book-open"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.diary</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items milestone" ng-click="openModal('milestone')">
                            <i class="icon-milestones"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.milestone</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items sick" ng-click="openModal('sick')">
                            <i class="icon-mood-sad"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.sick</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items doctor" ng-click="openModal('doctor')">
                            <i class="icon-doctor"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.doctor</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items vaccination" ng-click="openModal('vaccination')">
                            <i class="icon-injection"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.vaccination</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items growth" ng-click="openModal('growth')">
                            <i class="icon-baby-growth"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.growth</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items sleep" ng-click="openModal('sleep')">
                            <i class="icon-sleepcc"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.sleep</span>
                    </div>
                    <div class="xs-4">
                        <button class="btn btn-general btn-more-items allergy" ng-click="openModal('allergy')">
                            <i class="icon-allergy"></i>
                        </button>
                        <span data-translate>cleverbaby.app.activity.addMore.allergy</span>
                    </div>
                </div>

            </div>
    </div>
</div>
