<ion-view title="{{post.get('group').get('name')}}">
  <ion-nav-buttons side="right">
    <!--<a ng-href="" class="button button-clear">Edit</a>-->
  </ion-nav-buttons>

  <ion-content class="page page-group-feed feed-detail has-commentbox" delegate-handle="group-feed-detail">
    <ion-refresher
      refreshing-text="Refreshing post..."
      on-refresh="pullToRefresh()">
    </ion-refresher>
    <!-- Scrollable page content-->
    <div class="page-content">

      <div class="feeds list">
        <div class="feed-item item">
          <div class="poster-info">
            <img class="avatar" ng-src="{{post.get('author').get('profile').get('thumbImage').url()}}">
            <span class="poster-name">{{post.get('author').get('firstName')}} {{post.get('author').get('lastName')}}</span>
            <span class="posted-date">{{getDisplayPostDate(post.createdAt)}}</span>
          </div>
          <div class="post-content">
            <div class="content-body" ng-bind-html="post.get('body')"></div>
          </div>
          <div class="images" ng-show="post.images.length > 0">
            <a photo-full-view
              photos="post.images"
              category="'group-feed'"
              class="image-item"
              ng-repeat="img in post.images">
                <img ng-cache ng-src="{{img.imageUrl}}">
            </a>
          </div>
          <div class="meta-info">
            <em>{{post.get('likedBy').length || 0}} Likes</em>
            <em>{{post.comments.length}} Comments</em>
          </div>
        </div><!-- /.feed-item -->
      </div>

      <div class="comments list">
        <!-- <div class="item-divider heading">Comments</div> -->
        <div class="comment-item item" ng-repeat="comment in post.comments">
          <img class="avatar" ng-src="{{comment.get('author').get('profile').get('thumbImage').url()}}">
          <span class="poster-name">{{comment.get('author').get('firstName')}} {{comment.get('author').get('lastName')}}</span>
          <span ng-bind-html="comment.get('body')"></span>
          <div class="posted-date">{{getDisplayPostDate(comment.createdAt)}}</div>
        </div><!-- /.comment-item -->
      </div>

    </div>
  </ion-content>
  <ion-footer-bar class="commentbox">
    <div class="comment-textbox-wrapper">
      <div class="list mentions-list" ng-show="groupFeedDetail.showMention()">
        <a ng-repeat="user in groupFeedDetail.mentionUsersList()" class="item" href="" ng-click="groupFeedDetail.addUserToMentions(user)">
          <img ng-src="{{user.avatarUrl}}"><span>@{{user.firstName}} {{user.lastName}}</span>
        </a>
      </div>

      <textarea auto-grow-height id="txt_comment" class="feed-post-comment-input" ng-model="newCommentText" ng-change="messageInputChanged();"  placeholder="Add a comment"></textarea>
      <button class="sender" ng-click="addComment()" ng-disabled="!newCommentText || isSending">Send <i class="fa fa-send"></i></button>
    </div>
  </ion-footer-bar>
</ion-view>
