<ion-view title="Notification Settings">
  <ion-content class="page page-settings page-settings-notification">
    <div class="list">
      <div class="item item-divider">Notifications</div>
      <ion-checkbox ng-model="data.new_announcements" class="item-checkbox-right">New Announcements</ion-checkbox>
      <ion-checkbox ng-model="data.new_events" class="item-checkbox-right">New Events</ion-checkbox>
      <ion-checkbox ng-model="data.new_messages" class="item-checkbox-right">New Messages</ion-checkbox>
    </div>
  </ion-content>
</ion-view>
