<ion-view hide-back-button="true" cache-view = "false">
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Select Item</h1>
    <button class="button button-clear" ng-click="selectItemModal.hide()">Cancel</button>
  </ion-header-bar>
  <div class="bar bar-subheader bar-stable item-input-inset clients-search-bar">
    <form class="item-input-wrapper" id="productsSearchForm">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="productOptions.FreeText" dng-change="divideProducts()" id="txt_clients_search">
    </form>
    <button class="button button-clear" ng-show="productOptions.FreeText !== ''" ng-click="clearSearch()"><i class="icon ion-ios7-close-outline"></i></button>
  </div>
  <ion-content class="has-subheader page page-select-clients">
    <ion-list>
      <ion-item class="ion-item-custom" ng-repeat="p in products" ng-click="selectProduct(p)">
        <h2>{{p.ShortDescription}}</h2>
        <p>${{p.Price}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMoreItems()" distance="1%" ng-if="isMoreItems"></ion-infinite-scroll>
  </ion-content>
</ion-view>
