
#stacks_in_1540_page30 .stacks_left {
    float: left;
    width: 71%;
}

#stacks_in_1540_page30 .stacks_right {
    float: right;
    width: 27%;
}

#stacks_in_1540_page30 {
    margin: 0px 20px 30px 20px;
}

#stacks_in_1543_page30 .stacks_left {
    float: left;
    width: 72%;
}

#stacks_in_1543_page30 .stacks_right {
    float: right;
    width: 26%;
}

#stacks_in_1543_page30 {
    margin: 10px 0px 0px 0px;
}

#stacks_in_1488_page30 {
    margin: 20px 20px 10px 20px;
}

#stacks_in_1528_page30 {
    margin: 10px 20px 10px 20px;
}

#stacks_in_1529_page30 {
    font-size: 135%;
}

#stacks_in_1534_page30 {
    margin: 10px 10px 0px 10px;
}

#stacks_in_1556_page30 .stacks_left {
    float: left;
    width: 34%;
}

#stacks_in_1556_page30 .stacks_right {
    float: right;
    width: 64%;
}

#stacks_in_1556_page30 {
    margin: 30px 40px 20px 40px;
}

#stacks_in_1554_page30 {
    margin: 14px 0px 0px 10px;
}

#stacks_in_1508_page30 {
    margin: 0px 0px 30px 30px;
}

#stacks_in_1509_page30 {
    font-size: 121%;
}

#stacks_out_1777_page30 {
    width: 82%;
}

#stacks_in_1777_page30 {
    background-color: #DAEFFF;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin: 50px 0px 40px 0px;
    padding: 10px 20px 40px 20px;
}

#stacks_in_1775_page30 {
    margin: 20px 0px 30px 0px;
}

#stacks_in_1776_page30 {
    text-transform: capitalize;
    font-size: 207%;
}

#stacks_in_1779_page30 .stacks_left {
    float: left;
    width: 32%;
}

#stacks_in_1779_page30 .stacks_right {
    float: right;
    width: 32%;
}

#stacks_in_1779_page30 .stacks_middle {
    position: relative;
    margin: 0 auto;
    width: 32%;
}

#stacks_in_1753_page30 {
    margin: 20px 0px 0px 0px;
}

#stacks_in_1754_page30 {
    font-size: 179%;
}

#stacks_in_1758_page30 {
    margin: 20px 0px 0px 0px;
}

#stacks_in_1759_page30 {
    font-size: 182%;
}

#stacks_in_1800_page30 {
    margin: 20px 0px 0px 0px;
}

#stacks_in_1811_page30 {
    font-size: 179%;
}

#stacks_in_1559_page30 .stacks_left {
    float: left;
    width: 76%;
}

#stacks_in_1559_page30 .stacks_right {
    float: right;
    width: 22%;
}

#stacks_in_1559_page30 {
    background-color: #E3E3E3;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin: 50px 0px 0px 0px;
    padding: 20px 10px 10px 10px;
}

#stacks_in_1562_page30 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1562_page30 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1516_page30 {
    margin: 0px 5px 10px 0px;
}

#stacks_in_1517_page30 {
    font-size: 110%;
}

#stacks_in_1623_page30 {
    margin: 0px 5px 0px 0px;
}

#stacks_in_1633_page30 .stacks_left {
    float: left;
    width: 32%;
}

#stacks_in_1633_page30 .stacks_right {
    float: right;
    width: 32%;
}

#stacks_in_1633_page30 .stacks_middle {
    position: relative;
    margin: 0 auto;
    width: 32%;
}

#stacks_in_1633_page30 {
    margin: 20px 15px 0px 15px;
}

#stacks_in_1518_page30 {
    margin: 0px 0px 10px 5px;
}

#stacks_in_1627_page30 {
    margin: 0px 0px 0px 5px;
}

#stacks_in_1586_page30 .stacks_left {
    float: left;
    width: 32%;
}

#stacks_in_1586_page30 .stacks_right {
    float: right;
    width: 32%;
}

#stacks_in_1586_page30 .stacks_middle {
    position: relative;
    margin: 0 auto;
    width: 32%;
}

#stacks_in_1586_page30 {
    margin: 20px 10px 0px 15px;
}

#stacks_in_1548_page30 {
    margin: 0px 0px 10px 30px;
}

#stacks_in_1817_page30 {
    margin: 0px 0px 0px 40px;
}
