<ion-view view-title="{{'cleverbaby.app.more.about.title' | translate}}">
    <ion-content has-bouncing="false" on-scroll="dynamicStatusBar('aboutMainScroll')" delegate-handle="aboutMainScroll">
        <div class="wrapper-tab more-page">
            <ion-nav-bar class="bar-positive">
                <ion-nav-buttons side="left">
                    <a class="btn left" ui-sref="app.more"><i class="fa fa-angle-left"></i></a>
                </ion-nav-buttons>
                <div class="header no-border">
                    <ion-nav-title cb-baby-drop-down></ion-nav-title>
                </div>
            </ion-nav-bar>
            <div class="padding">
                {{'cleverbaby.app.more.about.text' | translate}}
            </div>

        </div>
    </ion-content>
</ion-view>
<style>
.
</style>