<div class="modal transparent" ng-controller="MoreRateusFeedbackCtrl" ng-click="">
    <div class="wrapper more-rateus add" ng-click="$event.stopPropagation()">
        <div class="header">
            <h2 class="title">
                <span data-translate>cleverbaby.app.more.rateus.feedback.question</span>
            </h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="col">
                    <textarea class="feedbackMessage" ng-model="feedbackMessage" placeholder="Your Feedback here"></textarea>
                </div>
            </div>
            <div class="kotak autoheight gutter">
                <div class="xs-2">
                    <button class="btn small-text">{{'cleverbaby.app.more.rateus.feedback.submit' | translate}}</button>
                </div>
                <div class="xs-2">
                    <button class="btn small-text" ng-click="cancel()">{{'cleverbaby.app.more.rateus.feedback.cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
