<div class="modal transparent" ng-controller="activityCtrl" ng-click="closeActivity()">
        <div class="wrapper pump" ng-click="$event.stopPropagation()">
            <form ng-submit="hideKeyboard()">
                <div class="header">
                    <h2 class="title">
                        <span class="icon-breast-pumper-line"></span>
                        <span data-translate>cleverbaby.app.activity.pump.title</span>
                    </h2>
                    <a ng-click="closeActivity()" class="btn pull-left"><i class="fa fa-close"></i></a>
                    <a ng-if="modal.mode == 'add'" ng-click="submitActivityCheck()" class="btn pull-right"><i class="fa fa-check"></i></a>
                    <a ng-if="modal.mode != 'add'" ng-click="deleteActivity('pump')" class="btn pull-right"><i class="fa fa-trash-o"></i></a>
                </div>
                <div class="content">
                    <div class="kotak">
                        <label class="default">
                            <span class="icon-clock"></span> <span data-translate>cleverbaby.app.activity.pump.time</span>
                        </label>
                        <div mobiscroll-datetime="" mobiscroll-model="modal.data.time" class-child="form-control"></div>
                    </div>
                    <div class="kotak">
                        <label class="default">
                            <span data-translate>cleverbaby.app.activity.pump.side</span>
                        </label>
                        <div mobiscroll-predefined="" mobiscroll-values="pump_side" mobiscroll-mode="predefined" mobiscroll-model="modal.data.pump_side" class-child="form-control"></div>
                    </div>
                    <div class="kotak">
                        <label class="default">
                            <span data-translate>cleverbaby.app.activity.pump.amount</span>
                        </label>
                        <div mobiscroll-volume="" mobiscroll-model-value="modal.data.pump_amount" mobiscroll-model-unit="modal.data.pump_amount_unit" mobiscroll-id="activity_pump_amount"></div>
                    </div>
                    <div class="kotak">
                        <label class="default">
                            <span data-translate>cleverbaby.app.activity.pump.start_side</span>
                        </label>
                        <div mobiscroll-predefined="" mobiscroll-values="pump_side_start" mobiscroll-mode="predefined" mobiscroll-model="modal.data.pump_startside" class-child="form-control"></div>
                    </div>
                </div>
                <!-- addpic/addnote -->
                <div class="kotak no-border autoheight" ng-if="modal.data.note">
                    <a class="delete" ng-click="deleteNote()"><i class="fa fa-trash"></i></a>
                    <div ng-click="addNote(modal.data.note)">
                        <label class="small" data-translate>cleverbaby.app.activity.comment.click</label>
                        <p>{{ modal.data.note }}</p>
                    </div>
                </div>


                <div class="kotak no-border autoheight" ng-repeat="media in modal.data.media | filter:{ type: '!del'}">
                    <a class="delete" ng-click="deletePhoto(media)"><i class="fa fa-trash"></i></a>
                    <div class="thumb">
                        <img ng-src="{{ media.displayImage | babyImage }}">
                    </div>
                </div>

                <div class="footer">
                    <a class="pull-left" ng-click="addNote()"><span class="icon-book-open"></span><span data-translate>cleverbaby.app.activity.add_note</span></a>
                    <a class="btn-mid" ng-click="saveActivity('pump')"><i class="fa fa-check"></i> &nbsp;<span data-translate>cleverbaby.app.activity.save_close</span></a>
                    <a class="pull-right" choose-photo="captureImageOption"><span class="icon-camera"></span><span data-translate>cleverbaby.app.activity.photo</span></a>
                </div>
                <input type="submit" value="submit" class="hidden-submit">
            </form>
        </div>
</div>
