<div class="kotak autoheight border-divider">
    <div class="chart-description">
        <div class="xs-2 ">
            <span>Formula Feeding Average</span>
            <span>{{averageDataResult.topAverage}} oz</span>
            <span>per day</span>
        </div>
        <div class="xs-2 ">
            <span>Last Week</span>
            <span>{{averageDataResult.topAverageLastPeriod}} oz</span>
            <span>per day</span>
        </div>
    </div>
</div>
<div class="kotak autoheight border-divider">
    <div class="chart-description">
        <div class="xs-2 ">
            <span>Breastfeeding Average</span>
            <span>{{averageDataResult.botAverage}} min</span>
            <span>per day</span>
        </div>
        <div class="xs-2 ">
            <span>Last Week</span>
            <span>{{averageDataResult.botAverageLastPeriod}} min</span>
            <span>per day</span>
        </div>
    </div>
</div>