<div class="kotak autoheight border-divider">
    <div class="chart-description">
        <div class="xs-2 ">
            <span>Average changes</span>
            <span>{{averageDataResult.topAverage + averageDataResult.botAverage}} times</span>
            <span>per day</span>
        </div>
        <div class="xs-2 ">
            <span>Last Week</span>
            <span>{{averageDataResult.topAverageLastPeriod + averageDataResult.botAverageLastPeriod}} times</span>
            <span>per day</span>
        </div>
    </div>
</div>