
#stacks_in_1457_page9 {
    margin: 20px 20px 50px 20px;
    padding: 17px;
}

#stacks_in_1458_page9 {
    font-size: 230%;
}

#stacks_in_1571_page9 {
    background-color: #E9E9E9;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 0px 50px 0px;
}

#stacks_in_1566_page9 {
    margin: 20px 0px 10px 0px;
    padding: 17px;
}

#stacks_in_1567_page9 {
    text-transform: uppercase;
    font-size: 158%;
}

#stacks_in_1538_page9 .stacks_left {
    float: left;
    width: 32%;
}

#stacks_in_1538_page9 .stacks_right {
    float: right;
    width: 32%;
}

#stacks_in_1538_page9 .stacks_middle {
    position: relative;
    margin: 0 auto;
    width: 32%;
}

#stacks_in_1538_page9 {
    margin: 5px 10px 5px 10px;
}

#stacks_in_1459_page9 .stacks_left {
    float: left;
    width: 32%;
}

#stacks_in_1459_page9 .stacks_right {
    float: right;
    width: 32%;
}

#stacks_in_1459_page9 .stacks_middle {
    position: relative;
    margin: 0 auto;
    width: 32%;
}

#stacks_in_1459_page9 {
    margin: 0px 30px 20px 30px;
}

#stacks_in_1472_page9 {
    margin: 5px;
}

#stacks_in_1493_page9 {
    margin: 5px;
}

#stacks_in_1485_page9 {
    margin: 5px;
}

#stacks_in_1803_page9 .stacks_left {
    float: left;
    width: 75%;
}

#stacks_in_1803_page9 .stacks_right {
    float: right;
    width: 23%;
}

#stacks_in_1803_page9 {
    margin: 20px;
}

#stacks_in_1773_page9 {
    margin: 0px 10px 20px 40px;
}

#stacks_in_1774_page9 {
    font-size: 138%;
}

#stacks_in_1806_page9 .stacks_left {
    float: left;
    width: 39%;
}

#stacks_in_1806_page9 .stacks_right {
    float: right;
    width: 59%;
}

#stacks_in_1806_page9 {
    margin: 15px;
}

#stacks_in_1801_page9 {
    margin: 0px 40px 0px 0px;
}

#stacks_in_1802_page9 {
    font-size: 138%;
}

#stacks_in_1819_page9 {
    margin: 50px 0px 10px 30px;
}

#stacks_in_1785_page9 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1785_page9 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1785_page9 {
    margin: 0px 30px 0px 30px;
}

#stacks_in_1796_page9 {
    margin: 0px 10px 0px 0px;
}

#stacks_in_1703_page9 {
    margin: 0px 0px 10px 20px;
}

#stacks_in_1791_page9 {
    margin: 0px 0px 0px 25px;
}

#stacks_out_1631_page9 {
    width: 76%;
}

#stacks_in_1631_page9 {
    margin: 20px 0px 30px 0px;
}

#stacks_in_1642_page9 .stacks_left {
    float: left;
    width: 19%;
}

#stacks_in_1642_page9 .stacks_right {
    float: right;
    width: 79%;
}

#stacks_in_1621_page9 {
    margin: 0px 30px 0px 0px;
}

#stacks_in_1622_page9 {
    font-size: 131%;
}

#stacks_in_1463_page9 .stacks_left {
    float: left;
    width: 49%;
}

#stacks_in_1463_page9 .stacks_right {
    float: right;
    width: 49%;
}

#stacks_in_1463_page9 {
    margin: 60px 30px 20px 20px;
}

#stacks_in_1809_page9 {
    margin: 10px 20px 20px 0px;
}

#stacks_in_1783_page9 {
    margin: 0px 10px 0px 0px;
    padding: 5px;
}

#stacks_in_1814_page9 {
    margin: 10px 20px 20px 0px;
}

#stacks_in_1466_page9 {
    padding: 5px;
}

#stacks_out_1813_page9 {
    width: 400px;
}

#stacks_in_1813_page9 {
    margin: 40px 0px 0px 0px;
}

#stacks_out_1757_page9 {
    width: 500px;
}

#stacks_in_1757_page9 {
    margin: 20px 0px 40px 0px;
}

#stacks_in_1766_page9 {
    font-size: 110%;
}

#stacks_in_1715_page9 {
    background-color: #DAEFFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 40px 70px 40px 70px;
    padding: 8px;
}

#stacks_in_1713_page9 {
    margin: 0px 40px 0px 40px;
    padding: 15px;
}

#stacks_in_1714_page9 {
    font-size: 151%;
}

#stacks_in_1724_page9 {
    font-size: 154%;
}

#stacks_in_1767_page9 {
    margin: 10px 40px 0px 40px;
    padding: 15px;
}

#stacks_in_1768_page9 {
    font-size: 151%;
}

#stacks_in_1826_page9 {
    margin: 20px;
}

#stacks_in_1726_page9 {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 10px 0px 0px 0px;
    padding: 16px;
}

#stacks_in_1728_page9 {
    margin: 10px;
    padding: 20px 0px 0px 0px;
}

#stacks_out_1731_page9 {
    width: 79%;
}
