<button class="button selected button-clear icon-left ion-calendar" ui-sref="{{linka}}">{{texta}}</button>
<button class="button button-clear icon-left ion-ios-location" ui-sref="{{linkb}}">{{textb}}</button>

<!--
<ion-item>

<button class="button button-positive" ui-sref="{{linka}}"> {{texta}} </button>

<button class="button button-positive" ui-sref="{{linkb}}"> {{textb}} </button>

</ion-item>
-->

<!--
USAGE

<dz-item-toggler texta="'A link'" textb="'B link'" linka="'MY URL ONE'" linkb="'MY URL TWO'"></dz-item-toggler>

-->