<ion-view title="{{group.get('name')}}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button home-button button-icon icon ion-navicon" ng-show="isFromMenu"><app-notifications-counter></app-notifications-counter></button>
    <button class="button button-clear icon ion-ios-arrow-back" ng-show="!isFromMenu" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a ng-href="#/group-feed-more/{{groupId}}" class="button button-clear">Settings</a>
  </ion-nav-buttons>

  <ion-content class="page page-group-feed feed-list"
               delegate-handle="mainScroll"
               on-scroll="onScrollContent()">
    <ion-refresher
      refreshing-text="Refreshing posts..."
      on-refresh="pullToRefresh()">
    </ion-refresher>
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="group-members-list">
        <thumbnails-list
          total="groupMembersCount"
          items="thumbMembers"
          title="groupMembersCount + ' Members'"
          more-label="'Members'"
          item-callback="viewMemberDetail"
          more-callback="viewGroupMembers()"
          visible-count="8"></thumbnails-list>
      </div>

      <div class="button-bar header-buttons">
        <a ng-href="#/group-feed-new/{{groupId}}" class="button"><i class="svg-icon pencil-6ba5db"></i> <label>Write Post</label></a>
        <a href="javascript:void(0)" class="button" ng-click="showPhotoModal()"><i class="svg-icon clip-6ba5db"></i> <label>Share File</label></a>
        <a ng-href="#/group-files/{{groupId}}" class="button"><i class="svg-icon attachment-6ba5db"></i> <label>View Files</label></a>
      </div>

      <div class="feeds list">
        <div class="feed-item item"
             ng-class="{'moderatable':isModeratable}"
             ng-repeat="p in posts"
             ng-init="detailUrl = '#/group-feed-detail/' + p.post.id;">
          <a class="remove" ng-click="deletePost(p.post)"><i class="svg-icon close-black"></i></a>
          <div class="poster-info">
            <a ng-href="#/profile/{{p.post.get('author').get('profile').id}}"><img class="avatar" ng-src="{{p.post.get('author').get('profile').get('thumbImage').url()}}"></a>
            <a class="poster-name" ng-href="#/profile/{{p.post.get('author').get('profile').id}}">
              {{p.post.get('author').get('firstName')}} {{p.post.get('author').get('lastName')}}
            </a>
            <span class="posted-date">{{getDisplayPostDate(p.post.createdAt)}}</span>
            <span class="badge badge-messages badge-assertive" ng-show="badgeCounter(p.post)">{{badgeCounter(p.post)}}</span>
          </div>
          <div class="post-content">
            <span class="content-body" ng-bind-html="p.post.get('body') | linkConvert"></span>
            <!--<span>{{p.post.get('author').get('firstName')}} {{p.post.get('author').get('lastName')}} has uploaded <a class="group-feed-filename">filename</a>.</span>-->
          </div>
          <div class="images" ng-show="p.images.length > 0" ng-repeat="img in p.images">
            <a photo-full-view
               photos="p.images"
               category="'group-feed'">
              <img ng-cache ng-src="{{img.thumbImageUrl ? img.thumbImageUrl : img.imageUrl}}">
            </a>
          </div>
          <div class="files" ng-show="p.files.length > 0" ng-repeat="file in p.files" ng-click="openFile(file)">
            <a class="item">
              <span class="thumb" ng-show="true"><i class="thumb filetype-icon {{file.icon}}"></i></span>
              <span class="filename">{{file.name}}</span>
            </a>
          </div>

          <div class="meta-info">
            <a ng-href="#/group-feed-detail-liked-by/{{p.post.id}}">{{p.post.get('likedBy').length || 0}} Likes</a>
            <a ng-href="{{detailUrl}}">{{p.post.get('commentCount') || 0}} Comments</a>
          </div>
          <div class="actions" ng-class="{'bottom-border-none':!p.comments.length}">
            <a class="btn btn-like liked" ng-show="isLiked(p.post)" disabled="disabled"><i class="svg-icon like-light-005fb8"></i> Liked</a>
            <a ng-click="likePost(p.post, p)" class="btn btn-like" ng-show="!isLiked(p.post)">
              <i class="svg-icon like-light-black"></i> Like
            </a>
            <a ng-href="#/group-feed-detail/{{p.post.id}}" class="btn"><i class="svg-icon comment2-black"></i> Comment</a>
          </div>
          <div class="comments list">
            <div class="item-divider heading" ng-show="p.comments.length > 2">
              <a ng-href="{{detailUrl}}">View Previous Comments</a>
            </div>
            <!-- <div class="item-divider heading">Comments</div> -->
            <div class="comment-items" ng-show="p.post.get('commentCount')">
              <div class="comment-item item" ng-repeat="comment in lastItems(p.comments, 2)">
                <a ng-href="#/profile/{{comment.get('author').get('profile').id}}"><img class="avatar" ng-src="{{comment.get('author').get('profile').get('thumbImage').url()}}"></a>
                <a class="poster-name" ng-href="#/profile/{{comment.get('author').get('profile').id}}">
                  {{comment.get('author').get('firstName')}} {{comment.get('author').get('lastName')}}
                </a>
                <span ellipsis-text-mention="comment"></span>
                <div class="posted-date">{{getDisplayPostDate(comment.createdAt)}}</div>
              </div><!-- /.comment-item -->
            </div>
            <div class="commentbox" ng-show="p.comments.length > 0">
              <a ng-click="openCommentModal($event, p)">Write a comment</a>
            </div>
          </div>
        </div><!-- /.feed-item -->
      </div>

    </div>

    <ion-infinite-scroll on-infinite="fetchMorePosts()" distance="1%" ng-if="isMorePosts"></ion-infinite-scroll>

  </ion-content>
  <div class="commentbox-modal" id="groupfeed_commentbox_modal" footer-keyboard>
    <div class="textbox-wrapper">
      <div class="list mentions-list" ng-show="showMention()">
        <a ng-repeat="user in mentionUsersList()" class="item" href="" id="group_feed_mention_users">
          <input type="text" class="mention-virtual-input" ng-click="addUserToMentions(user)"/>
          <img ng-src="{{user.avatarUrl}}"><span>@{{user.firstName}} {{user.lastName}}</span>
        </a>
      </div>
      <textarea auto-grow-height id="txt_comment" class="feed-post-comment-input mention-input-feed" ng-model="newCommentText"
                ng-change="messageInputChanged();" placeholder="Add a comment"></textarea>
      <button class="sender" ng-click="addCommentFromModal()" ng-disabled="!newCommentText || isSending">Send</button>
    </div>
  </div>
</ion-view>
