<ion-view title="Create New Team" ng-controller="LoginPageCtrl" class="organizate-view">
  <div class="main-container">
    <div class="submain-container">
      <div class="organizate-title" style="height: 10%;">
        <div class="organizate-detail-description" style="font-size: 11pt;padding: 0px;">
          If you have already registered on this app, you can login with your email and password.
          But If you are newer on this, you have to <em ng-click="goToPage('signup-page');" style="color: blue;">register</em> at first.
        </div>
      </div>
      
    </div>
  </div>
</ion-view>
