<ion-view title="GAME LINEUP" ng-controller="MessageLineupCtrl" class="organizate-view" cache-view="false">
  <ion-content class="has-header">
    <div class="organizate-detail-description" style="padding-top: 0px;">
      Hi, here's next games lineup, check it out.
    </div>
    <div style="text-align: center;">
      <div class="button organizate-blue-btn" ng-click = "goToPage('app.message-pick');">See lineup!</div>
    </div>
    <div class="organizate-detail-description">
      <b>(Text for starts, other text for benchers)</b> Looks like you made to the starting 11, that's great, you must be doing something right out there!<br/>
      Remember to get at good start to the day on match date, I need you 100% fit out there, see you - here is the match data again.

    </div>
    <div class="organizate-detail-description">
      Date : 7th of December 2014<br/>
      Time : 09:00
    </div>

    <div class="organizate-detail-description">
      Location : 
    </div>
    <div style="text-align: center;">
      <div id ="map" style="width: 90%; height: 100px;;background: #ccc;margin: auto;"></div>
    </div>
    <div class="organizate-detail-description">See you on the pitch</div>
    <div class="organizate-detail-description">Coach<br/><b>Team name</b></div>
  </ion-content>
</ion-view>
