<ion-view title="Create New Team" ng-controller="MessageMainCtrl" class="organizate-view" cache-view="false">
  <ion-content class="no-header">
    <div class="organizate-detail-description">Hi, this is the coach for <b>Team Name</b> you have been incite to join this new way of organizing the team and its members</div>
    <div class="organizate-detail-description">I need you to just download the free application and fill out some basic contact information to make sure I can contact you for the games and put you in the lineup</div>
    <div style="text-align: center;">
      <div class="button organizate-blue-btn" ng-click = "goToPage('app.message-detail');">Get App</div>
    </div>
    <div class="organizate-detail-description">Once you this done we can get started - you don't have to do anything else, just wait for the game invitations and you will even receive the lineups here from now on</div>
    <div class="organizate-detail-description">See you on the pitch</div>
    <div class="organizate-detail-description">Coach</div>
    <div class="organizate-detail-description"><b>Team Name :</b></div>
  </ion-content>
</ion-view>
