<ion-view title="Select Member" ng-controller="RosterGameMemberCtrl" class="organizate-view">
  <ion-content class="has-header content-stable" scroll="false">
    <list>
    <div ng-repeat="user in rosterinfo" class="item card safecab-contacts-item" ng-if="user.rostername">
      <div class="contact-item-container con-avatar-container">
        <div style="background:url('{{(user.photourl)?user.photourl:'img/ylblankuser.png'}}')" class ="image-contacts-adapter"></div>
      </div>
      <div class="contact-item-container">
        <p class="contact-item-container-username">{{user.rostername}}</p>
        <p class="contact-item-container-phonenum">{{user.email}}</p>
      </div>
      <div class="contact-item-container con-button-container">
        <button class="button button-clear con-button icon {{isMembers[user.rostername]?'ion-ios-checkmark-outline font-white-color':'ion-ios-circle-outline'}}" ng-click="selectUser(user)"></button>
      </div>
    </div>
    </list>
  </ion-content>
  <ion-footer-bar class="organizate-footer" scroll="false">
    <div class="footer-container">
      <div class="container-footer">        
        <div class="button button-clear footer-green-button" ng-click="saveUser();">Save new roster and Resend invitation</div>         
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
