<ion-view title="SELECT PLAYERS" ng-controller="SelectTeamMemberCtrl" cache-view="false">
  <ion-content class="page page-listmain page-select-team-member has-subheader">
    <ion-list>
      <div class="select-member-sub-header">
        <div class="create-new-member select-member-isselected" ng-click="addUser();">+ CREATE NEW PLAYER</div> 
        <div class="select-all-member select-member-noselected" ng-class="{'select-member-isselected':isselectAll}" ng-click="isSelected();">SELECT ALL</div> 
        <div class="deselect-all-member select-member-noselected" ng-class="{'select-member-isselected':!isselectAll}" ng-click="isSelected();">DESELECT ALL</div> 
      </div>
      <ion-item ng-repeat="user in teamMemberData" class="item card contacts-item" ng-if="user.rostername">
        <div class="contact-item-container">
          <div style="background:url('{{(user.photourl)?user.photourl:'img/ylblankuser.png'}}')" class ="image-contacts-adapter"></div>
        </div>
        <div class="contact-item-container">
          <p class="contact-item-main">{{user.rostername}}</p>
          <p class="contact-item-submain">{{user.email}}</p>
        </div>
        <div class="contact-item-container right-button-container">
          <button class="button button-clear list-view-button icon {{isMembers[user.rostername]?'ion-ios-checkmark-outline font-white-color':'ion-ios-circle-outline'}}" ng-click="selectMember(user)"></button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="organizate-footer">
    <div class="footer-container">
      <div class="container-footer">        
        <div class="button button-clear footer-green-button" ng-click="createGame();">Import invite select team members</div>         
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
