
#stacks_in_1101_page28 {
    font-size: 199%;
    font-weight: bold;
}

#stacks_in_1320_page28 {
    font-size: 120%;
}

#stacks_in_2446_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_2446_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_2446_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_2451_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_2452_page28 {
    font-size: 153%;
}

#stacks_in_1093_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1093_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1093_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1030_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1031_page28 {
    font-size: 153%;
}

#stacks_in_1066_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1066_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1066_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1071_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1072_page28 {
    font-size: 153%;
}

#stacks_in_1282_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1282_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1282_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1287_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1288_page28 {
    font-size: 153%;
}

#stacks_in_1107_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1107_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1107_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1112_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1113_page28 {
    font-size: 153%;
}

#stacks_in_1173_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1173_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1173_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1178_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1179_page28 {
    font-size: 153%;
}

#stacks_in_1246_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1246_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1246_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1251_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1252_page28 {
    font-size: 153%;
}

#stacks_in_1140_page28 .stacks_left {
    float: left;
    width: 29%;
}

#stacks_in_1140_page28 .stacks_right {
    float: right;
    width: 69%;
}

#stacks_in_1140_page28 {
    padding: 20px 70px 20px 20px;
}

#stacks_in_1145_page28 {
    margin: 5px 0px 0px 0px;
}

#stacks_in_1146_page28 {
    font-size: 153%;
}

#stacks_in_1658_page28 .stacks_left {
    float: left;
    width: 27%;
}

#stacks_in_1658_page28 .stacks_right {
    float: right;
    width: 71%;
}

#stacks_in_1658_page28 {
    background-color: #E5E5E5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 36px 16px 36px 16px;
    padding: 20px 0px 20px 0px;
}

#stacks_in_1321_page28 {
    margin: 20px 50px 20px 20px;
    padding: 4px;
}

#stacks_in_1322_page28 {
    font-size: 109%;
}
