/* === Preloader === */
.preloader {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s step-end infinite;
  animation: preloader-spin 1s step-end infinite; }

.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%23fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>"); }

@-webkit-keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg); }

  8.33333333% {
    -webkit-transform: rotate(30deg); }

  16.66666667% {
    -webkit-transform: rotate(60deg); }

  25% {
    -webkit-transform: rotate(90deg); }

  33.33333333% {
    -webkit-transform: rotate(120deg); }

  41.66666667% {
    -webkit-transform: rotate(150deg); }

  50% {
    -webkit-transform: rotate(180deg); }

  58.33333333% {
    -webkit-transform: rotate(210deg); }

  66.66666667% {
    -webkit-transform: rotate(240deg); }

  75% {
    -webkit-transform: rotate(270deg); }

  83.33333333% {
    -webkit-transform: rotate(300deg); }

  91.66666667% {
    -webkit-transform: rotate(330deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes preloader-spin {
  0% {
    transform: rotate(0deg); }

  8.33333333% {
    transform: rotate(30deg); }

  16.66666667% {
    transform: rotate(60deg); }

  25% {
    transform: rotate(90deg); }

  33.33333333% {
    transform: rotate(120deg); }

  41.66666667% {
    transform: rotate(150deg); }

  50% {
    transform: rotate(180deg); }

  58.33333333% {
    transform: rotate(210deg); }

  66.66666667% {
    transform: rotate(240deg); }

  75% {
    transform: rotate(270deg); }

  83.33333333% {
    transform: rotate(300deg); }

  91.66666667% {
    transform: rotate(330deg); }

  100% {
    transform: rotate(360deg); } }

.loading-container .loading {
  background-color: rgba(0, 0, 0, 0.9); }

.loading-container .loading .preloader {
  width: 30px;
  height: 30px; }

select {
  font-family: "Roboto", "Droid Sans", sans-serif;
  font-size: 16px; }

select {
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none; }

select {
  background: transparent;
  position: relative;
  border: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px 8px 3px;
  background: bottom left -moz-linear-gradient(#fff, #fff) no-repeat, bottom center -moz-linear-gradient(#fff, #fff) repeat-x, bottom right -moz-linear-gradient(#fff, #fff) no-repeat;
  background: bottom left -webkit-linear-gradient(#fff, #fff) no-repeat, bottom center -webkit-linear-gradient(#fff, #fff) repeat-x, bottom right -webkit-linear-gradient(#fff, #fff) no-repeat;
  background: bottom left linear-gradient(#fff, #fff) no-repeat, bottom center linear-gradient(#fff, #fff) repeat-x, bottom right linear-gradient(#fff, #fff) no-repeat;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px; }

select[disabled], select.disabled {
  color: #fff;
  background: bottom left -moz-linear-gradient(#fff, #fff) no-repeat, bottom center -moz-linear-gradient(#fff, #fff) repeat-x, bottom right -moz-linear-gradient(#fff, #fff) no-repeat;
  background: bottom left -webkit-linear-gradient(#fff, #fff) no-repeat, bottom center -webkit-linear-gradient(#fff, #fff) repeat-x, bottom right -webkit-linear-gradient(#fff, #fff) no-repeat;
  background: bottom left linear-gradient(#fff, #fff) no-repeat, bottom center linear-gradient(#fff, #fff) repeat-x, bottom right linear-gradient(#fff, #fff) no-repeat;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px; }

select:focus {
  background: bottom left -moz-linear-gradient(#fff, #fff) no-repeat, bottom center -moz-linear-gradient(#fff, #fff) repeat-x, bottom right -moz-linear-gradient(#fff, #fff) no-repeat;
  background: bottom left -webkit-linear-gradient(#fff, #fff) no-repeat, bottom center -webkit-linear-gradient(#fff, #fff) repeat-x, bottom right -webkit-linear-gradient(#fff, #fff) no-repeat;
  background: bottom left linear-gradient(#fff, #fff) no-repeat, bottom center linear-gradient(#fff, #fff) repeat-x, bottom right linear-gradient(#fff, #fff) no-repeat;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px; }

@font-face {
  font-family: 'proximabold';
  src: url('../libs/fonts/proxima/proxima-light/ProximaNova-Bold-webfont.eot');
  src: url('../libs/fonts/proxima/proxima-light/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Bold-webfont.woff2') format('woff2'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Bold-webfont.woff') format('woff'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Bold-webfont.ttf') format('truetype'), url('../libs/fonts/proxima/proxima-light/proxima/proxima-light/ProximaNova-Bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proximalight';
  src: url('../libs/fonts/proxima/proxima-light/ProximaNova-Light-webfont.eot');
  src: url('../libs/fonts/proxima/proxima-light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Light-webfont.woff2') format('woff2'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Light-webfont.woff') format('woff'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Light-webfont.ttf') format('truetype'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Light-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proximareg';
  src: url('../libs/fonts/proxima/proxima-light/ProximaNova-Reg-webfont.eot');
  src: url('../libs/fonts/proxima/proxima-light/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Reg-webfont.woff2') format('woff2'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Reg-webfont.woff') format('woff'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../libs/fonts/proxima/proxima-light/ProximaNova-Reg-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal; }

/** define svg icons style */
body {
  color: #000000;
  font-family: proximareg;
  font-weight: 100;
  letter-spacing: 0.5px; }

.custom-add-email-popup {
  display: block; }

.organizate-footer {
  height: 54px; }
  .organizate-footer .footer-container {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px; }
    .organizate-footer .footer-container .container-footer {
      width: 100%;
      padding: 0px 10px 0px 10px;
      height: 52px;
      position: relative; }
      .organizate-footer .footer-container .container-footer .footer-green-button {
        width: 100%;
        max-height: 52px;
        display: block;
        background: url('../img/button-orange.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        line-height: 40px;
        border-radius: 8px;
        font-size: 12pt;
        font-family: proximareg; }
  .organizate-footer .create-team-skipbtn {
    width: 100%;
    text-align: center;
    height: 40px;
    min-height: 0px !important;
    color: #aaa !important;
    font-family: proximabold; }

.organizate-footer.footer-create-team {
  height: 100px; }

.bar-positive.bar-custom-positive {
  background-color: #1a6baf; }
  .bar-positive.bar-custom-positive * {
    font-family: proximareg; }

.organizate-view {
  display: table;
  margin-top: 88px; }

.clear {
  clear: both; }

#map {
  width: 90%;
  background: #ccc;
  margin: auto; }

.organizate-modal-view {
  background: rgba(0, 0, 0, 0.7) !important;
  display: table; }
  .organizate-modal-view .cabbie-modal-photo-img {
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 120px;
    vertical-align: middle;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
    width: 120px;
    display: block;
    margin: auto; }
  .organizate-modal-view .organizate-userprofile-container {
    background: transparent !important;
    margin: 0px 20px 2px 20px;
    height: 40px !important;
    position: relative;
    border: 0px !important;
    text-align: left; }
    .organizate-modal-view .organizate-userprofile-container .organizate-profile-label {
      float: left;
      width: 40%;
      color: #ddd;
      margin-right: 20px;
      margin-top: 17px; }

ng-form {
  display: block; }

.page {
  background-color: #ffffff; }

.button.button-clear.message-header-btn {
  width: 21%;
  max-width: none;
  font-size: 10pt;
  font-family: proximabold;
  color: #1a6baf; }

.button.button-clear.main-header-btn {
  width: 28%;
  max-width: none;
  font-size: 10pt;
  font-family: proximabold;
  color: #1a6baf; }

.bar.custom-sub-header {
  position: absolute;
  top: 44px;
  height: 44px !important;
  z-index: 1444;
  background: #fff;
  margin-top: 0px;
  padding: 0px; }
  .bar.custom-sub-header .button {
    min-height: 45px; }
  .bar.custom-sub-header .button:after {
    padding: 0px;
    min-height: 45px; }
  .bar.custom-sub-header .main-header-btn-selected {
    font-weight: bold !important;
    border-bottom: 4px solid #1a6baf;
    line-height: 43px;
    height: 43px;
    min-height: 43px; }

.custom-home-icon {
  width: 44px;
  height: 44px; }
  .custom-home-icon img {
    width: 27px;
    height: 32px; }

.badge.badge-assertive.org-badge {
  position: absolute !important;
  top: 0px;
  right: 0px !important;
  font-size: 8pt !important;
  padding: 1px 6px !important; }

.menu-content .header-item {
  font-family: proximareg;
  color: #1a6baf;
  font-size: 12pt;
  font-weight: bold; }
  .menu-content .header-item .back-text {
    display: none; }

.page.page-login {
  background: url(../img/first-background.png);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; }
  .page.page-login .footer-button-container {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 0px 20px; }
    .page.page-login .footer-button-container .button {
      color: #fff;
      border: none; }
    .page.page-login .footer-button-container .button:active {
      opacity: 0.7; }
    .page.page-login .footer-button-container .signin-button {
      background: #ff7200; }
    .page.page-login .footer-button-container .signup-button {
      background: #7fc243; }
  .page.page-login input {
    color: #333;
    background: #ddd; }

.or-spliter {
  position: relative;
  text-align: center;
  height: 20px;
  width: 80%;
  margin: auto; }
  .or-spliter .spliter-line {
    position: absolute;
    height: 1px;
    top: 50%;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: auto; }
  .or-spliter .title {
    position: absolute;
    margin: auto;
    width: 40px;
    color: #ddd;
    background: #fff;
    left: calc(50% - 20px); }

.custom-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7); }
  .custom-modal .ion-ios-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ddd;
    z-index: 1002; }
  .custom-modal .content-container {
    height: 280px;
    margin: 150px auto;
    background: #fff;
    width: 90%;
    padding: 0px 5px; }
    .custom-modal .content-container .signin-title {
      color: #ff7200;
      text-align: center;
      padding: 10px;
      font-size: 12pt; }
    .custom-modal .content-container .signup-title {
      color: #7fc243;
      text-align: center;
      padding: 10px;
      font-size: 12pt; }
    .custom-modal .content-container .organizate-orange-btn {
      display: inline-block;
      border: none;
      color: #fff;
      width: 90%;
      font-size: 12pt;
      background: #ff7200;
      border-radius: 5px;
      margin-top: 20px;
      min-height: 0px; }
    .custom-modal .content-container .organizate-green-btn {
      display: inline-block;
      border: none;
      color: #fff;
      width: 90%;
      font-size: 12pt;
      background: #7fc243;
      border-radius: 5px;
      margin-top: 20px;
      min-height: 0px; }
    .custom-modal .content-container .item-input {
      border: none;
      padding: 3px 20px; }
      .custom-modal .content-container .item-input input {
        background: #eee;
        width: 80%;
        padding-left: 5px; }
      .custom-modal .content-container .item-input select {
        background: #eee; }

.modal-signup .signup-content-container {
  height: 400px;
  margin: 100px auto;
  padding: 0px 5px; }
  .modal-signup .signup-content-container .organizate-divider {
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align: left;
    font-size: 12pt;
    letter-spacing: 0.02pm;
    font-family: Arial;
    color: #46657f; }
    .modal-signup .signup-content-container .organizate-divider .radiobox-container {
      padding: 10px 0px 10px 0px;
      text-align: center;
      display: inline-block;
      width: 47%; }

.page.page-listmain .message-pick-buttonbar {
  text-align: center;
  padding: 5px 20px; }
  .page.page-listmain .message-pick-buttonbar .button {
    height: 40px;
    font-size: 10pt;
    min-height: 20px; }
  .page.page-listmain .message-pick-buttonbar .accept-button {
    background: #ff7200;
    color: #fff;
    border: none; }
  .page.page-listmain .message-pick-buttonbar .decline-button {
    background: #7fc243;
    color: #fff;
    border: none; }
.page.page-listmain .organizate-detail-description {
  padding: 20px 10px 3px 10px;
  width: 100%;
  text-align: left;
  font-size: 11pt;
  color: #bbb; }
.page.page-listmain .organizate-message-description {
  padding: 0px 30px 3px 30px;
  width: 100%;
  text-align: left;
  font-size: 13pt;
  color: #1a6baf; }
.page.page-listmain .item-icon-left {
  padding: 20px 50px;
  text-align: left; }
  .page.page-listmain .item-icon-left p {
    font-family: proximareg;
    color: #1a6baf;
    font-size: 12pt;
    font-weight: bold; }
.page.page-listmain .custom-list-icon {
  width: 15px;
  height: auto; }
.page.page-listmain .item-input {
  padding: 20px; }
  .page.page-listmain .item-input input {
    color: #333;
    background: #f5f5f5;
    padding-left: 10px; }
.page.page-listmain .create-game-btn {
  position: absolute;
  top: 35%;
  width: 80%;
  left: 10%;
  border-radius: 5px;
  background: #7fc243;
  border: none;
  color: #fff;
  font-weight: bold; }
.page.page-listmain .card.contacts-item {
  width: calc(100% - 20px);
  background: #1a6baf;
  border-radius: 5px;
  border: 0px solid #000; }
  .page.page-listmain .card.contacts-item .contact-item-container {
    display: inline-block;
    float: left;
    margin-left: 10px;
    max-width: 60% !important; }
    .page.page-listmain .card.contacts-item .contact-item-container .contact-item-main {
      color: #fff;
      font-size: 11pt;
      font-weight: bold;
      padding: 5px 5px 0px 0px;
      margin: 0px;
      font-family: proximareg; }
    .page.page-listmain .card.contacts-item .contact-item-container .contact-item-submain {
      color: #abd7fb;
      font-size: 9pt;
      padding: 0px 5px 5px 0px;
      margin: 0px;
      font-family: proximareg; }
    .page.page-listmain .card.contacts-item .contact-item-container .button-clear.list-view-button {
      min-width: 10px;
      color: #abd7fb !important; }
  .page.page-listmain .card.contacts-item .right-button-container {
    float: right; }
    .page.page-listmain .card.contacts-item .right-button-container .button.button-clear {
      color: #fff; }

.page select {
  background: #fff;
  border: none;
  width: 50%;
  height: 25px; }
.page .centerMarker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -10px;
  margin-top: -34px;
  height: 34px;
  width: 20px;
  cursor: pointer; }
.page .image-contacts-adapter {
  border-radius: 100px;
  background-size: cover !important;
  background-position: center center;
  border: 0px solid #ddd;
  background: #fff;
  height: 50px;
  width: 50px;
  margin: auto; }
.page .custom-item-title {
  text-align: center;
  padding: 25px 20px;
  background: #f5f5f5;
  color: #46657f;
  font-weight: bold;
  font-family: proximareg; }
.page .custom-footer-title {
  text-align: center;
  padding: 10px;
  background: #f5f5f5;
  color: #46657f;
  font-family: proximareg; }
  .page .custom-footer-title .manage-game-footer-title {
    font-weight: bold; }
.page .item .semi-title {
  width: 100% !important;
  color: #2c506f;
  text-align: center;
  margin: auto; }
.page .item .reminder-container {
  position: relative;
  height: 83px; }
  .page .item .reminder-container .item {
    position: absolute;
    width: 50%;
    border: none;
    padding: 0px 5px;
    text-align: center; }
    .page .item .reminder-container .item span {
      margin: auto; }
    .page .item .reminder-container .item select {
      width: 90%;
      border: 0px;
      border-bottom: 1px solid #ddd; }
.page .item span {
  font-family: proximareg;
  color: #999; }
.page .item select {
  color: #333; }
.page .item .input-item-container {
  position: relative;
  background: #eee;
  width: 90%;
  display: inline-block;
  margin-left: 5%; }
  .page .item .input-item-container input {
    background: transparent;
    width: 80%;
    padding-left: 11px; }
  .page .item .input-item-container .icon {
    float: left;
    height: auto;
    padding: 6px;
    font-size: 19pt;
    color: #1a6baf; }

.page.page-create-game .item {
  border: none; }
  .page.page-create-game .item .input-label {
    padding-left: 20px;
    color: #b2bccc;
    font-size: 15px;
    font-weight: bold; }
  .page.page-create-game .item .button-clear.location-save-venue {
    font-family: proximareg;
    color: #888 !important; }

.page.page-gamefeedback ion-item {
  text-align: center;
  border: none; }
  .page.page-gamefeedback ion-item .feedback-padding-container-first {
    width: 35%;
    margin-left: -0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    text-align: center; }
    .page.page-gamefeedback ion-item .feedback-padding-container-first div {
      border: 0px solid #fff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #aaa;
      background: #eee; }
  .page.page-gamefeedback ion-item .feedback-padding-container-second {
    width: 35%;
    margin-left: -19px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    text-align: center; }
    .page.page-gamefeedback ion-item .feedback-padding-container-second div {
      border: 0px solid #fff;
      background: #7fc243;
      color: #222; }
  .page.page-gamefeedback ion-item .feedback-padding-container-last {
    width: 35%;
    margin-left: -19px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    text-align: center; }
    .page.page-gamefeedback ion-item .feedback-padding-container-last div {
      border: 0px solid #fff;
      border-top-right-radius: 5px;
      color: #222;
      border-bottom-right-radius: 5px;
      background: #fa7269; }
  .page.page-gamefeedback ion-item .datetime-container-label {
    border: 2px solid #ddd;
    padding: 10px;
    background: #fff;
    width: calc(100% - 10px);
    height: 40px;
    line-height: 15px !important;
    margin: 5px;
    color: #000; }
  .page.page-gamefeedback ion-item .datetime-container {
    padding: 0px 0px 0px 0px;
    display: inline-block;
    text-align: center; }
    .page.page-gamefeedback ion-item .datetime-container .feedback-count-container-label {
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 5px;
      width: calc(100% - 10px);
      text-decoration: underline;
      height: 30px;
      font-size: 20pt;
      margin: 5px;
      color: #46657f; }
  .page.page-gamefeedback ion-item .feedback-resend-btn {
    border: none;
    min-height: 5px !important;
    color: #fff !important;
    width: 95% !important;
    background: #c2cbd7 !important;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px; }
  .page.page-gamefeedback ion-item .feedback-cancel-btn {
    border: none;
    min-height: 5px !important;
    color: #ddd !important;
    width: 95% !important;
    color: #fff !important;
    padding: 5px;
    background: #fa7269 !important;
    border-radius: 10px;
    margin-top: 10px; }
  .page.page-gamefeedback ion-item .footer-green-button {
    width: 95%;
    display: block;
    margin-top: 10px;
    margin-left: 2%;
    height: 52px;
    max-height: 52px;
    background: url('../img/button-orange.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    line-height: 40px;
    padding: 5px;
    border-radius: 8px;
    font-size: 12pt;
    font-family: proximareg; }

.page.page-game-formation .organizate-divider {
  padding: 3px 10px 3px 30px;
  width: 100%;
  text-align: left;
  font-size: 12pt;
  letter-spacing: 0.02pm;
  font-family: Arial;
  color: #46657f; }
  .page.page-game-formation .organizate-divider .radiobox-container {
    padding: 10px 0px 10px 0px;
    display: inline-block;
    width: 30%; }
.page.page-game-formation .formation-select {
  width: 100%;
  text-align: center;
  padding: 10px 10px; }
.page.page-game-formation .formation-main {
  text-align: center; }
  .page.page-game-formation .formation-main .gameformation-container-first {
    height: 280px;
    width: 60px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    display: -moz-inline-stack;
    text-align: left;
    vertical-align: top; }
    .page.page-game-formation .formation-main .gameformation-container-first .first-title {
      margin: 10px 0px;
      color: #aaa; }
    .page.page-game-formation .formation-main .gameformation-container-first .content-stable {
      overflow-x: hidden;
      height: 280px; }
    .page.page-game-formation .formation-main .gameformation-container-first .contact-item-container div {
      position: relative; }
      .page.page-game-formation .formation-main .gameformation-container-first .contact-item-container div .org-player-badge {
        position: absolute !important;
        z-index: 1100;
        top: inherit;
        width: 20px;
        border-radius: 20px;
        max-width: 40px;
        bottom: -2px;
        background: #1a6baf !important;
        border: 2px solid #fff;
        right: -4px !important;
        font-size: 7pt !important;
        padding: 1px 1px !important; }
  .page.page-game-formation .formation-main .gameformation-container-second {
    height: 315px;
    position: relative;
    width: 220px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    display: -moz-inline-stack;
    text-align: center;
    vertical-align: top; }
  .page.page-game-formation .formation-main .football-field {
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 5px;
    background: url('../img/footballfield.png');
    background-position: center center;
    background-size: 100% 100%; }
  .page.page-game-formation .formation-main .gameformation-container-third {
    height: 280px;
    width: 60px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    display: -moz-inline-stack;
    text-align: center;
    vertical-align: top; }
  .page.page-game-formation .formation-main .gameformation-container-third div {
    height: 300px; }
  .page.page-game-formation .formation-main .gameformation-image-adapter {
    border-radius: 100px;
    background-size: cover !important;
    background-position: center center;
    border: 1px solid #ddd;
    height: 30px !important;
    width: 30px;
    margin: auto; }
  .page.page-game-formation .formation-main .gameformation-field-adapter {
    border-radius: 100px;
    color: #fff;
    line-height: 30px;
    background: url('../img/formation-indicator.png');
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    background-size: cover !important;
    background-position: center center;
    border: 0px solid #ddd;
    height: 30px !important;
    width: 30px;
    margin: auto; }
  .page.page-game-formation .formation-main .gameformation-image-adapter-userselect {
    border: 2px solid blue; }
  .page.page-game-formation .formation-main .gameformation-field-userselect {
    background: url('../img/empty-formation.png'); }
  .page.page-game-formation .formation-main .gameformation-image-adapter-useradd {
    color: red !important; }
  .page.page-game-formation .formation-main .formation-name-label {
    color: #46657f;
    display: block;
    padding-top: 20px !important;
    text-align: center;
    background: transparent;
    font-size: 12pt;
    width: 50px;
    height: 10px;
    text-align: left;
    font-weight: bold;
    margin: 5px;
    line-height: 7px; }
.page.page-game-formation select {
  font-family: "Roboto", "Droid Sans", sans-serif;
  font-size: 16px;
  margin: auto;
  background: #1a6baf;
  padding: 3px 3px 8px 3px;
  width: 120px;
  height: 20px;
  color: #fff;
  font-family: Arial Black;
  font-weight: bold;
  padding-left: 70px;
  border-color: #1a6baf;
  border-radius: 20px; }

.page.page-game-message .item-divider {
  color: #1a6baf; }
.page.page-game-message .item.item-body {
  text-align: left; }
  .page.page-game-message .item.item-body .checkbox-container {
    text-align: left;
    padding: 10px 0px 10px 0px;
    display: inline-block;
    width: 100%;
    font-family: proximabold; }

.page.page-message-view .message-item {
  background: #eee; }
  .page.page-message-view .message-item .contact-item-container {
    display: inline-block;
    float: left;
    margin-left: 10px;
    max-width: 60% !important; }
    .page.page-message-view .message-item .contact-item-container .unread-mark {
      border: 3px solid #ff7200;
      border-radius: 3px;
      margin-top: 15px;
      width: 0px;
      height: 0px; }
    .page.page-message-view .message-item .contact-item-container .contact-item-main {
      color: #1a6baf;
      font-size: 16pt;
      font-weight: bold;
      padding: 5px 5px 0px 0px;
      margin: 4px;
      font-family: proximareg; }
    .page.page-message-view .message-item .contact-item-container .contact-item-submain {
      color: #333;
      font-size: 14pt;
      padding: 0px 5px 5px 0px;
      margin: 0px;
      white-space: normal;
      font-family: proximareg; }
    .page.page-message-view .message-item .contact-item-container .message-item-main {
      color: #1a6baf;
      font-size: 13pt;
      padding: 5px 5px 0px 0px;
      margin: 0px;
      font-family: Arial; }
    .page.page-message-view .message-item .contact-item-container .message-item-body {
      color: #444;
      font-size: 9pt;
      padding: 5px 5px 0px 0px;
      margin: 0px;
      font-family: Arial; }
  .page.page-message-view .message-item .time-mark {
    font-family: Arial;
    font-size: 7pt;
    color: #bbb; }
    .page.page-message-view .message-item .time-mark p {
      text-align: right;
      color: red; }
  .page.page-message-view .message-item .right-button-container {
    float: right;
    padding-right: 10px; }
    .page.page-message-view .message-item .right-button-container .button.button-clear {
      color: #ddd; }

.page.page-listmain.page-select-team-member .select-member-sub-header {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 15px 0px; }
  .page.page-listmain.page-select-team-member .select-member-sub-header div {
    position: absolute;
    height: 25px;
    font-size: 9px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #1a6baf; }
  .page.page-listmain.page-select-team-member .select-member-sub-header .create-new-member {
    left: 4%;
    width: 40%;
    height: 25px; }
  .page.page-listmain.page-select-team-member .select-member-sub-header .select-all-member {
    right: 26%;
    width: 25%; }
  .page.page-listmain.page-select-team-member .select-member-sub-header .deselect-all-member {
    right: 4%;
    width: 25%; }
  .page.page-listmain.page-select-team-member .select-member-sub-header .select-member-isselected {
    background: #1a6baf !important;
    color: #fff !important; }
  .page.page-listmain.page-select-team-member .select-member-sub-header .select-member-noselected {
    background: #fff;
    color: #1a6baf; }
.page.page-listmain.page-select-team-member .card.contacts-item {
  width: calc(100% - 20px);
  background: #f6f7f9;
  border-radius: 5px;
  border: 0px solid #000;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0); }
  .page.page-listmain.page-select-team-member .card.contacts-item .contact-item-container {
    display: inline-block;
    float: left;
    margin-left: 10px;
    max-width: 60% !important; }
    .page.page-listmain.page-select-team-member .card.contacts-item .contact-item-container .contact-item-main {
      color: #46657f;
      font-size: 11pt;
      font-weight: bold;
      padding: 5px 5px 0px 0px;
      margin: 0px;
      font-family: proximareg; }
    .page.page-listmain.page-select-team-member .card.contacts-item .contact-item-container .contact-item-submain {
      color: #000;
      font-size: 10pt;
      padding: 0px 5px 5px 0px;
      margin: 0px;
      font-family: proximareg; }
    .page.page-listmain.page-select-team-member .card.contacts-item .contact-item-container .button-clear.list-view-button {
      min-width: 10px;
      color: #5db50d !important; }
  .page.page-listmain.page-select-team-member .card.contacts-item .right-button-container {
    float: right; }
    .page.page-listmain.page-select-team-member .card.contacts-item .right-button-container .button.button-clear {
      color: #5db50d; }

.page.page-listmain.page-roster-member.has-footer {
  bottom: 186px; }
  .page.page-listmain.page-roster-member.has-footer .item-input {
    padding-right: 30px; }
    .page.page-listmain.page-roster-member.has-footer .item-input .input-label {
      width: 30%; }
    .page.page-listmain.page-roster-member.has-footer .item-input input {
      width: 45%;
      min-width: 45%;
      -webkit-flex: 1 45%;
      -moz-box-flex: 1;
      -moz-flex: 1 45%;
      -ms-flex: 1 45%;
      flex: 1 45%; }
    .page.page-listmain.page-roster-member.has-footer .item-input .button {
      min-height: 34px;
      height: 34px;
      line-height: 34px; }

.bar.bar-footer.roster-footer {
  height: 185px; }
  .bar.bar-footer.roster-footer .has-footer {
    bottom: 0px; }
  .bar.bar-footer.roster-footer .footer-container {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px; }
    .bar.bar-footer.roster-footer .footer-container .container-footer {
      width: 100%;
      padding: 0px 10px 0px 10px;
      height: 52px;
      position: relative; }
      .bar.bar-footer.roster-footer .footer-container .container-footer .footer-green-button {
        width: 100%;
        max-height: 52px;
        display: block;
        background: url('../img/button-orange.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
        line-height: 40px;
        border-radius: 8px;
        font-size: 12pt;
        font-family: proximareg; }
  .bar.bar-footer.roster-footer .create-team-skipbtn {
    width: 100%;
    text-align: center;
    height: 40px;
    min-height: 0px !important;
    color: #aaa !important;
    font-family: proximabold; }
