<ion-view title="Message">
    <div class="bg-image1" id="bg"></div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    <ion-list class="list list-inset">
        <div class="card">
            <div class="item item divider">
                <i class="icon ion-android-location calm"></i> Map View {[{message_id}]}
            </div>
            <div class="item item-image">
                <div class="map">
                   <leaflet defaults="defaults" layers="layers" paths="paths" geojson="geojson" center="london" markers="markers" width="100%" height="300" id="map"></leaflet>
                </div>
            </div>
            <div class="item item-text-wrap">
                <h2 ng-repeat="msg_to_asset in message_detail.message.to_asset"><i class="icon ion-model-s assertive"></i> / <i class="icon ion-person calm"></i>: {[{msg_to_asset.name }]}</h2>
                
                <i class="icon ion-android-chat assertive"></i> {[{message_detail.message.message}]}<br />
                <p class="text-right"><small>Scheduled 
                    <i class="icon ion-at dark">{[{ message_detail.message.scheduled_date.$date| date:'yyyy-MM-dd HH:mm:ss Z'}]}</i></small></p>
                <p class="text-right"><small>Created 
                    <i class="icon ion-at dark">
                    {[{ message_detail.message.created_on.$date| date:'yyyy-MM-dd HH:mm:ss Z'}]}
                    </i></small></p>
                <ul>
                    <li>
                        Accepted? <i class="icon ion-pound balanced">{[{message_detail.message.accepted}]}</i>
                    </li>
                </ul>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <!--<a class="tab-item" href="tel:{[{asset_details.asset_detail.sim_number}]}" ng-show="user_pay.has_paid">
                    <i class="icon ion-ios7-telephone"></i>
                    Call
                </a>
                <a class="tab-item" href="tel:0000" ng-show="!user_pay.has_paid">
                    <i class="icon ion-ios7-telephone"></i>
                    Call(Paid Users only)
                </a>-->
                <a class="tab-item" onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook', null /* img */, 'https://play.google.com/store/apps/details?id=com.finder.gps.tracking' /* url */, function() {console.log('share ok')}, function(errormsg){console.log(errormsg)})"><i class="icon ion-social-facebook positive"></i></a>
                <a class="tab-item" onclick="window.plugins.socialsharing.shareViaTwitter('Finder Tracking is awesome', null /* img */, 'https://play.google.com/store/apps/details?id=com.finder.gps.tracking' /* url */, function() {console.log('share ok')}, function(errormsg){console.log(errormsg)})"><i class="icon ion-social-twitter calm"></i></a>
            </div>
        </div>
    </ion-list>
    </ion-content>
</ion-view>

