<ion-content has-bouncing="false" class="padding loginbg fixheight" on-scroll="dynamicStatusBar('signinMainScroll')" delegate-handle="signinMainScroll">
  <ion-header-bar class="bar-positive">
    <h1 class="title" data-translate>cleverbaby.auth.signin.title</h1>
  </ion-header-bar>
  <div class="loginlogo">
    <img src="img/logo.png" class="logo">
  </div>
  <div class="list loginbg">
    <div class="item item-input with-input">
      <!-- <span class="input-label" data-translate>cleverbaby.auth.signin.email</span> -->
      <input type="text" ng-model="user.email" placeholder="Username">
    </div>
    <div class="item item-input with-input password">
      <!-- <span class="input-label" data-translate>cleverbaby.auth.signin.password</span> -->
      <a class="lost-password">?</a>
      <input type="password" ng-model="user.password" placeholder="Password">
    </div>
    <div class="item item-input space">
      <button class="button button-block button-positive" 
              ng-click="validateUser()"
              data-translate >cleverbaby.auth.signin.submit</button>
    </div>
    <div class="item item-divider text-center">or</div>
    <div class="item item-input">
        <button class="button button-block button-positive social-media social-facebook" 
                ng-click="createWithOAuth('facebook')"
                data-translate> 
                cleverbaby.auth.signin.facebook
        </button>
    </div>
    <div class="item item-input">
        <button class="button button-block button-positive social-media social-google" 
        ng-click="createWithOAuth('google')"
        data-translate>
            cleverbaby.auth.signin.google
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-20"></div>
    <div class="col col-60">
      <p data-translate>cleverbaby.auth.signin.message1</p>
      <button class="button button-block button-square" 
      type="submit" data-translate>cleverbaby.auth.signin.signup</button>
    </div>
    <div class="col col-20"></div>
  </div>
</ion-content>
